$utilities: map-merge(
  $utilities,
  (
    // font-size
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      (
        responsive: true,
        values: (
          24: 24px,
          26: 26px,
          30: 30px,
          64: 64px
        )
      )
    ),

    // margin 
    "margin": map-merge(
      map-get($utilities, "margin"),
      (
        responsive: true,
        values: (
          6: 6px
        )
      )
    ),

    // padding 
    "padding": map-merge(
      map-get($utilities, "padding"),
      (
        responsive: true,
        values: (
          64: 64px
        )
      )
    ),

    // border-radius (rounded)
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        values: (
          null: var(--#{$prefix}border-radius), // 保留預設
          12: 12px // 自定義的 radius
        )
      )
    )
  )
);