<footer class="bg-black py-12">
<div class="container d-lg-flex align-items-lg-center justify-content-lg-between">
<div class="mb-11 mb-lg-0 align-items-lg-center">
<a href="../pages/index.html"><img src="../assets/images/title-bottom.jpg" alt="logo-b" class="img-bottom mb-11 mb-lg-9"></a>

<ul class="list-unstyled mb-11 d-lg-flex mb-lg-0">
<li class="text-white mb-5 mb-lg-0 me-lg-9">常見問題</li>
<li class="text-white mb-5 mb-lg-0 me-lg-9">關於我們</li>
<li class="text-white mb-5 mb-lg-0 me-lg-9">隱私權政策</li>
<li class="text-white mb-lg-0">使用者條款</li>
</ul>
</div>

<div>
    <ul class="list-unstyled d-flex mb-5">
        <li class="d-block"><i class="bi bi-line text-white bg-black p-4 rounded-circle border border-1 border-white me-5"></i></li>
        <li class="d-block"><a class="p-3 rounded-circle border border-1 border-white me-5" href="#"><img class="youtobe" src="../assets/images/youtobe.jpg" alt="youtobe"></a></li>
        <li class="d-block"><a class="p-3 rounded-circle border border-1 border-white" href="#"><img class="youtobe" src="../assets/images/facebook.jpg" alt="facebook"></a></li>
    </ul>
    <p class="fs-6 text-neutral-d4 mb-0">copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.</p>
</div>



</div>

</footer>